<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Mirth|DEV" value="https://mirthdev.community-health.org:8443/api/|DEV" />
		<add key="Mirth|REL" value="https://mirthtest.community-health.org:8443/api/|REL" />
		<add key="Mirth|PRD" value="https://prdesymirth01.community-health.org:8443/api/|PRD01,https://prdesymirth02.community-health.org:8443/api/|PRD02,https://prdesymirth03.community-health.org:8443/api/|PRD03,https://prdesymirth04.community-health.org:8443/api/|PRD04,https://prdesymirth05.community-health.org:8443/api/|PRD05,https://prdesymirth06.community-health.org:8443/api/|PRD06,https://prdesymirth07.community-health.org:8443/api/|PRD07,https://prdesymirth08.community-health.org:8443/api/|PRD08,https://prdesymirth10.community-health.org:8443/api/|PRD10,https://prdesymirth11.community-health.org:8443/api/|PRD11" />
		<add key="Mirth|STAGING" value="https://prdesymirthtools02.community-health.org:8443/api/|Staging" />
		<add key="Pentra|PRD" value="prdesymirthtools01.community-health.org:22" />
		<add key="MirthLogs|Server" value="prdesymirthtools01.community-health.org:22" />
		<add key="MirthLogs|Environments" value="PRD|prd,REL|rel,DEV|dev"/>
		<add key="MirthLogs|Locations" value="Archive|archive,Current|"/>
		<add key="EpicIC|DEV" value="https://bgnonprdicvip/Interconnect-DEV-INTERFACES/api/OCHIN/2015/Interfaces/" />
		<add key="EpicIC|REL" value="https://bgnonprdicvip/Interconnect-REL-INTERFACES/api/OCHIN/2015/Interfaces/" />
		<add key="EpicIC|PRD" value="https://bgprdicvip/Interconnect-PRD-INTERFACES/api/OCHIN/2015/Interfaces/" />
		<!--<add key="Features|DEV" value="btnAddTrizettoRemitInboundSA,btnRemoveTrizettoRemitInboundSA" />-->
		<!--<add key="Features|DEV-NEW" value="btnAddTrizettoRemitInboundSA,btnRemoveTrizettoRemitInboundSA" />-->
		<!--<add key="Features|REL" value="btnAddTrizettoRemitInboundSA,btnRemoveTrizettoRemitInboundSA" />-->
		<!--<add key="Features|PRD06" value="btnAddTrizettoRemitInboundSA,btnRemoveTrizettoRemitInboundSA" />-->
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
	  <sessionState timeout="20"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>