<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DEV" value="https://mirthdev.community-health.org:8443/api/"/>
		<add key="REL" value="https://mirthtest.community-health.org:8443/api/"/>
		<add key="PRD" value="https://prdesymirth01.community-health.org:8443/api/,https://prdesymirth02.community-health.org:8443/api/,https://prdesymirth03.community-health.org:8443/api/,https://prdesymirth04.community-health.org:8443/api/,https://prdesymirth05.community-health.org:8443/api/,https://prdesymirth06.community-health.org:8443/api/,https://prdesymirth07.community-health.org:8443/api/,https://prdesymirth08.community-health.org:8443/api/,https://prdesymirth10.community-health.org:8443/api/,https://prdesymirth11.community-health.org:8443/api/"/>
		<add key="STAGING" value="https://prdesymirthtools02.community-health.org:8443/api/"/>
	</appSettings>
</configuration>